#root,
html,
body {
    height: 100 vh;
    /* take the full height of the screen*/
}

body {
    margin: 0;
    background-color: whitesmoke;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}